.dockerignore
.editorconfig
.gitignore
.gitattributes
env.example
.env
.env.test
Dockerfile.dev
Dockerfile.prd
dev.Dockerfile
docker-compose.yml
LICENSE
**/*.md
**/*_test.go
*.out

# Folders
.idea/
.git/
.github/
build/
vendor/

tests
*_test.go
./*/**/*_test.go
./*/**/tests/*
./*/**/mocks/*
docs
assets%          
*.erd                                                                                                       
*.env
*.pem
*.cert